<?xml version='1.0' encoding='UTF-8'?>
<dictionary>
	<stanza_lang_code>
		<code>ro</code>
	</stanza_lang_code>
	<postfix>
		<used>yes</used>
	</postfix>
	<verb_listing>
		<list_items>sing_1 sing_2 sing_3 plur_1 plur_2 plur_3</list_items>
	</verb_listing>
	<gender_article>
		<m>un</m>
		<n>un</n>
		<f>o</f>
	</gender_article>
	<template>
		<lemma>hond</lemma>
		<tag>NOUN</tag>		
		<gender>de</gender>
		<definite />
		<swedish>hund</swedish>
		<english>dog</english>
		<explanation>(substantief)</explanation>
		<example_use />
		<plural />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346109</index>
	</template>
	<template>
		<tag>ADJ</tag>		
		<lemma>goed</lemma>
		<komparativ>beter</komparativ>
		<superlativ>best</superlativ>
		<cathegory>0</cathegory>
		<swedish>bra</swedish>
		<english>dog</english>
		<explanation>(bijvoeglijk naamwoord)</explanation>
		<example_use />
		<index>2021-12-28 16:52:30.245779</index>
		<synonym />
		<opposite />
		<spare />
		<counter>1</counter>
	</template>
	<template>
		<tag>VERB</tag>		
		<lemma>blijken</lemma>
		<sing_1 />
		<sing_2 />
		<sing_3 />
		<plur_1 />
		<plur_2 />
		<plur_3 />
		<pret_sing>bleek</pret_sing>
		<pret_plur>bleken</pret_plur>
		<perfekt>gebleken</perfekt>
		<cathegory>1</cathegory>
		<swedish>förefalla/bevisa/visa</swedish>
		<english>dog</english>
		<explanation>(werkwoord)</explanation>
		<example_use />
		<index>2021-12-28 16:41:32.272905</index>
		<synonym />
		<opposite />
		<spare />
		<counter>1</counter>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>ADV</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(bijwoord)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>PRON</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(voornaamwoord)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>SCONJ</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(sub-ord conj)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>X</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(other)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>SYM</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(symbol)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>PUNCT</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(punctuation)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>PROPN</tag>
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(proper noun)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>PART</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(particular)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>NUM</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(numeral)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>INTJ</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(interjection)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>DET</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(determin)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>AUX</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(auxiliary)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>CCONJ</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>()</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
	<template>
		<lemma>spreken</lemma>
		<tag>ADP</tag>		
		<swedish>talar/pratar (flera)</swedish>
		<english>dog</english>
		<explanation>(prepoziție)</explanation>
		<example_use />
		<synonym />
		<opposite />
		<counter>1</counter>
		<index>2021-12-28 17:26:46.346198</index>
	</template>
</dictionary>
